@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

*{
    box-sizing:border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.navigation-container{
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.60);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
}

.navigation-content{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 12%;
}

.logo img{
    height: 40px;
    margin-left: -70px;
}

.cart img {
    height: 30px;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    padding: 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    border-right: 3px solid #e54c51;
}

.cart{
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cart a{
    color: white;
    margin: 0px 10px;
}

.whats-new{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.new{
    width: 540px;
    height: 320px;
    margin: 10px;
    background-image: url(../images/pizza1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new p{
    color: white;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
}

.new p:nth-child(1){
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.new p:nth-child(2){
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new button{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #ea272d;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
    outline: none;
}

.search,
.order {
    width: 540px;
    height: 150px;
    margin: 10px;
    background-color: #b1b1b1;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-row{
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order{
    background-image: url(../images/find.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.search{
    background-image: url(../images/order.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search p{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 0px;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.50);
}

.text{
    background-color: #f1f1f1;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
}

.text input[type=search]{
    border: none;
    background-color: transparent;
    color: #000000;
    text-align: center;
    outline: none;
}

.text button{
    height: 35px;
    width: 70px;
    border: none;
    color: #0b0b0b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    outline: none;
    border-radius: 0px 20px 20px 0px;
    border-left: 1px solid #CDCACA;
}

.order{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order a{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.10);
}

.food-1,
.food-2,
.food-3,
.product{
    width: 354px;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:30px 5%;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.10);
}

.food-1 p, .food-2 p, .food-3 p, .product p{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
}

.name p:nth-child(1){
    font-weight: bold;
    font-size: 40px;
}

.name p:nth-child(2){
    font-weight: 400;
    font-size: 40px;
}

.second-row{
    display: flex;
}

.food-1,
.product{
    background-image: url(../images/pizza-promo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.food-2{
    background-image: url(../images/pizza-promo-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.food-3{
    background-image: url(../images/cookies-promo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.price button{
    color: white;
    border: none;
    background-color: #ea272d;
    outline: none;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
}

button:active{
    transform: scale(1.2);
    transition: all ease 0.5s;
}

.flavor, 
.breakfast{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    width: 550px;
    height: 180px;
    background-color: #b1b1b1;
}

.third-row{
    display: flex;
}

.flavor{
    background-image: url(../images/pizza4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-right: 10px;
}

.breakfast{
    background-image: url(../images/cookies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left: 10px;
}

.flavor p:nth-child(1),
.breakfast p:nth-child(1){
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.flavor p:nth-child(2),
.breakfast p:nth-child(2){
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
}

.flavor p, 
.breakfast p{
    margin: 0px;
    padding: 0px;
    line-height: 40px;
}

.footer{
    background-color: #0a0a0a;
    height: 150px;
}

.social ul{
    display: flex;
}

.social img{
    height: 15px;
}
.social ul li a{
    padding: 15px;
}
.footer-menu ul li a{
    border-left: 3px solid #2e2e2e;
    color: rgba(255, 255, 255, 0.8);
}

.navigation-content{
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;
}

.copyright p{
    color: #b9b9b9;
}

.new,
.search,
.order,
.food-1,
.food-2,
.food-3,
.flavor, 
.breakfast,
.product {
    border-radius: 10px;
}

/* Menu Styles */

.content-container .menu-title{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.content-container .menu-title h3{
    font-size: 45px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-container .menu-content{
    display: flex;
}

.menu-container .menu-content .menu-category{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.menu-content .menu-category .category-products{
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
}

.menu-content .menu-category .category-title{
    margin:  0px 15px;
}

.category-title h3{
    font-size: 45px;
    border-bottom: 3px solid #e54c51;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}